@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    padding: 16.5px 16px;
    color: white;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-primary:hover {
    background-color: #a4bdae;
    color: #469165;

}

.primary-color {
    color: #001931;

}

.secondary-color {
    color: #627382;

}

.section-title {
    font-size: 3rem;
    font-weight: 700;

}

/* navigation bar style */
.nav-bar {
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menue {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.menue>li>a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

#btn-nav {
    padding: 12.5px 16px;

}

/* banner style */
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 115px 0 180px;
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-subtitle-container {
    display: flex;
    justify-content: center;
}

.banner-subtitle {
    font-weight: 500;
    color: #469165;
    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#box-1 {
    width: 16px;
    height: 16px;
    background-color: #ddebe2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #8eb89f;

}

#box-3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #469165;

}

.banner-title {
    max-width: 770px;
    font-size: 4.5rem;
    font-weight: 700;
    color: white;
    margin-top: 16px;
}

.banner-title>span {
    color: #469165;
}

.banner-info {
    font-size: 1.125rem;
    color: white;
    margin: 16px 0 32px;
}

.banner-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#banner-first-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#banner-second-btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

#banner-second-btn:hover {
    background-color: #a4bdae;
    color: #469165;
}


/* notes section style */
.notes,.ready {
    background-color: #f7f6f2;

}

.notes-section-container {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}

.notes-sub-title {
    margin-top: 16px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card {
    background-color: white;
    padding: 69.5px 24px;
    margin-top: 44px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #0000000f;
}

#card-4 {
    padding: 55px 24px;
}

.card-img-container {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f95555;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 16px;
}

.card-info {
    margin-top: 16px;
}

/* brain section style */
.brain {
    max-width: 1360px;
    margin: 120px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;

}

.img-container>img {
    width: 100%;
}

.brain-content {
    padding: 102px 0px;

}

.brain-subtitle {
    font-weight: 500;
    color: #469165;

}

.brain-title{
    max-width: 515px;
    margin-top: 16px;
}

.brain-info{
    margin-top: 16px;
}

.brain-list{
    margin-top: 40px;
}

.brain-list>li{
    list-style: none;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin-top: 16px;
}

/* ready section style */
.ready{
    max-width: 1360px;
    margin: 120px auto;
    padding: 80px 40px;
    border-radius: 12px;
    text-align: center;
}

.ready-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;

}

#ready-btn{
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}